[run]
parallel = True
concurrency = multiprocessing,thread
omit =
    */guidata/tests/*
    */guidata/external/*
    */guidata/widgets/*

[report]
exclude_lines =
    if __name__ == .__main__.: