# guidata setup configuration file

# Important note:
# Requirements are parsed by utils\genreqs.py to generate documentation

[build-system]
requires = ["setuptools"]
build-backend = "setuptools.build_meta"

[project]
name = "guidata"
authors = [{ name = "Codra", email = "p.raybaut@codra.fr" }]
description = "Automatic GUI generation for easy dataset editing and display"
readme = "README.md"
license = { file = "LICENSE" }
classifiers = [
    "Topic :: Scientific/Engineering",
    "Topic :: Software Development :: Libraries :: Python Modules",
    "Topic :: Utilities",
    "Topic :: Scientific/Engineering",
    "Topic :: Scientific/Engineering :: Human Machine Interfaces",
    "Topic :: Software Development :: User Interfaces",
    "Operating System :: MacOS",
    "Operating System :: Microsoft :: Windows",
    "Operating System :: OS Independent",
    "Operating System :: POSIX",
    "Operating System :: Unix",
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3.11",
]
requires-python = ">=3.8, <4"
dependencies = ["h5py>=3.0", "NumPy>=1.21", "QtPy>=1.9", "requests", "tomli"]
dynamic = ["version"]

[project.urls]
Homepage = "https://github.com/PlotPyStack/guidata/"
Documentation = "https://guidata.readthedocs.io/en/latest/"

[project.gui-scripts]
guidata-tests = "guidata.tests:run"

[project.optional-dependencies]
dev = ["black", "isort", "pylint", "Coverage"]
doc = [
    "PyQt5",
    "pillow",
    "pandas",
    "sphinx>6",
    "sphinx-copybutton",
    "sphinx_qt_documentation",
    "python-docs-theme",
]
test = ["pytest", "pytest-cov", "pytest-qt", "pytest-xvfb"]

[tool.setuptools.packages.find]
include = ["guidata*"]

[tool.setuptools.package-data]
"*" = ["*.png", "*.svg", "*.mo", "*.chm", "*.cfg", "*.toml"]

[tool.setuptools.dynamic]
version = { attr = "guidata.__version__" }
