Coverage
NumPy >= 1.22
PyQt5 > 5.15.5
QtPy >= 1.9
babel
build
h5py >= 3.6
myst_parser
pandas
pillow
pylint
pytest
pytest-xvfb
python-docs-theme
requests
ruff
sphinx
sphinx-copybutton
sphinx_qt_documentation
tomli
